# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
* List popular languages for Data Science
* List popular libraries for Data Science
* List Data Science Tools
## Author
Mefodiy

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Scala
4. Julia
5. Java

Some of the commonly used libraries used by Data Scientists include:
1. Numpy
2. ggplot2
3. Pandas
4. Matplotlib

| Data Science Tools |
|--------------------|
| Jupyter Notebook   |
| RStudio            |
| Spyder             |
| Visual Studio      |

### Below are a few examples of evaluating arithmetic expressions in Python

This a simple arithmetic expression to mutiply then add integers

In [2]:
(3*4)+5

17

In [4]:
A=(3*4)+5
print(A)

17

This will convert 200 minutes to hours by diving by 60

In [8]:
a=200/60
print(a,"hours")

3.3333333333333335 hours